<!DOCTYPE html>
<html>
  <head>
    <title>Gossip Girls</title>
    <!--link rel='stylesheet' href='/stylesheets/document.css' /-->
  </head>
  <body>
      <h1><%= doc.fname %></h1>
  </body>
</html>