<!DOCTYPE html>
<html>
  <head>
    <title>Gossip Girls</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
        <a href='/signin'> SIGN IN </a>
        <a href='/signup'> SIGN UP </a>
    </div>
  </body>
</html>
