label {
    width: 120px;
    clear: left;
    text-align: right;
    padding: 0px 10px 10px 0;
}

button {
    clear: left;
    float: left;
    margin: 10px 0 0 80px;
    font-size: 16px;
}

input, label {
    float: left;
}

a {
    color: #00B7FF;
    padding: 50px;
    font-size: 20px;
}
